.PromptUI-container{
    position: fixed;
    right: 30px;
    width: 500px;
    height: 800px;
}

.PromptUI-wrapper{
    display: grid;
    width: inherit;
    height: inherit;
    grid-template-rows: repeat(5, 1fr);
}

.PromptTxtArea-Container {
    width: 100% !important;
    height: 100% !important;
    grid-row: 1;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    overflow-wrap:break-word;
    word-break:break-all;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.button-save{
    margin-left: 5px;
    line-height: 10px;
    text-align: center;
    border-radius: 5px;
    height: 25px;
    border-width:0px;
}

.PromptTxtArea-Toolbar {
    display:inline-block;
    width: 100%;
    height: 25px;
    padding-top:4px;
    padding-bottom: 3px;
    background-color:blueviolet;
    border-radius: 5px;
}

.PromptTxtArea-Buffer{
    display:flex;
    padding: 5px;
}

.prompt-tag {
    display: flex;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 5px;
}

.prompt-padding {
    width: 8px;
    height: 20px;
    margin-bottom: 5px;
}
.PromptSelectArea-Container{
    display:flex;
    flex-direction:column;
    grid-row: 2/6;
    overflow: auto;

    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.PromptSelectArea-Wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 10px;
}

.PromptTxtArea-textarea:focus {
    outline-style:none ;
}

.PromptCategoryPreview-Container{
    width: fit-content;
    height: fit-content;
}

.PromptCategory-Container{
    width: 100%;
}

.PromptCategory-Wrapper{
    display: grid,

}

.PromptBaseSetting-Container{
    z-index: 999;
    position: absolute;
    border-radius: 5px;
}

.PromptBaseSetting-wrapper{
    padding-right: 0.5rem;
    display: flex;
    justify-content: center;
}
